@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans Thai', sans-serif; 
}

*{
  font-family: 'Roboto', 'Noto Sans Thai', sans-serif; 
}

.font-noto {
  font-family: 'Noto Sans Thai', sans-serif;
}

@layer components {
  .page-wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .card-shadow {
    box-shadow: 0px 1px 40px 0px rgba(112, 112, 112, 0.24);
  }
}
